<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{>weblinks}}
</head>

<body class="desktop_view ">
    {{>header}}
    <div class="main_container">
        <div class="child_container" id="second_container">
            <img id="img_slider" src="./img/my_img.png" alt="">
        </div>
        <div class="child_container" id="first_container">
            <h1>About Us</h1>
            <p>My self <span class="theme_color">VINAYAK RAJ</span></p>
            <P>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero dolore facere velit, dicta atque
                consequatur iusto veritatis laboriosam possimus mollitia, voluptas cum amet aspernatur magnam asperiores
                odit, ipsa eum placeat eius quod perspiciatis eos similique explicabo cupiditate? Rerum mollitia iure
                magni sequi numquam, voluptatibus, aliquid velit natus sit animi culpa tempore. Esse itaque, placeat
                sed, ipsa voluptatem explicabo, atque aspernatur tenetur temporibus repellendus ea voluptas deserunt
                quam fuga pariatur facilis corrupti? Architecto id laborum, obcaecati excepturi quis quod, officia quasi
                nam dolorum et expedita repudiandae deserunt assumenda facere est? Harum voluptatem quibusdam
                repudiandae iusto dignissimos dolorum at eaque quae sapiente!</P>
        </div>
    </div>
    {{>footer}}
</body>
<script src="./js/main.js"></script>

</html>