<header id="Header">
    <div class="mobile_header">
        <div id="logo"> <a href="/">Weather Finder</a></div>
        <div id="button">
            <span class="menu_bar"></span>
            <span class="menu_bar"></span>
            <span class="menu_bar"></span>
        </div>
    </div>
    <nav class="navigation">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/weather">Weather</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>